---
- name: Get latest YQ tag
  changed_when: false
  ansible.builtin.shell: curl -Ls -o /dev/null -w %{url_effective} https://github.com/mikefarah/yq/releases/latest | grep -Eo '[0-9]+\.[0-9]+\.[0-9]'
  register: yq_latest_tag

- name: Download YQ
  changed_when: false
  ansible.builtin.get_url:
    url: https://github.com/mikefarah/yq/releases/download/v{{ yq_latest_tag.stdout }}/yq_linux_amd64
    dest: /usr/local/bin/yq
    mode: 0755
