---
# This NVM installation assumes you have have already
#  manually added the NVM load script to your profile

- name: Check if NVM is installed
  ansible.builtin.stat:
    path: /home/{{ user }}/.nvm
  register: nvm_installed

- name: Install NVM
  when: not nvm_installed.stat.exists
  block:
    - name: Download NVM
      ansible.builtin.git:
        repo: https://github.com/nvm-sh/nvm.git
        dest: /home/{{ user }}/.nvm/
      become: true

    - name: Ensure correct permissions
      ansible.builtin.file:
        path: /home/{{ user }}/.nvm
        owner: "{{ user }}"
        group: "{{ user }}"
        recurse: true
      become: true

    - name: Set tag to latest
      changed_when: false
      ansible.builtin.shell:
        git config --global --add safe.directory /home/{{ user }}/.nvm && \
        git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
      args:
        chdir: /home/{{ user }}/.nvm

    - name: Ensure permissions and ownership
      ansible.builtin.file:
        path: /home/{{ user }}/.nvm
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0755
        recurse: true
      become: true

- name: Install NodeJS
  loop: "{{ node_versions }}"
  changed_when: false
  ansible.builtin.shell: source /home/{{ user }}/.nvm/nvm.sh && nvm install {{ item }}
  args:
    chdir: /home/{{ user }}/.nvm
    executable: /bin/bash
  become: true

- name: Set default NodeJS version
  ansible.builtin.shell: source /home/{{ user }}/.nvm/nvm.sh && nvm alias default {{ node_default_version }} && nvm use default
  changed_when: false
  args:
    chdir: /home/{{ user }}/.nvm
    executable: /bin/bash
  become: true
