---
# This NVM installation assumes you have have already
#  manually added the NVM load script to your profile

- name: Check if NVM is installed
  ansible.builtin.stat:
    path: /home/{{ user }}/.nvm
  register: nvm_installed

- name: Install NVM
  when: not nvm_installed.stat.exists
  block:
    - name: Download NVM
      ansible.builtin.git:
        repo: https://github.com/nvm-sh/nvm.git
        dest: /home/{{ user }}/.nvm
    - name: Set tag to latest
      changed_when: false
      ansible.builtin.shell: git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
      args:
        chdir: /home/{{ user }}/.nvm

- name: Install NodeJS
  loop: "{{ node_versions }}"
  changed_when: false
  ansible.builtin.shell: . /home/{{ user }}/.nvm/nvm.sh && nvm install {{ item }}
  args:
    chdir: /home/{{ user }}/.nvm

- name: Set default NodeJS version
  ansible.builtin.shell: nvm alias default {{ node_default_version }} && nvm use default
  changed_when: false
  args:
    chdir: /home/{{ user }}/.nvm

- name: Check for default packages file
  ansible.builtin.stat:
    path: "{{ nvm_default_packages_file }}"
  register: nvm_default_packages_file_exists

- name: Install default packages
  when: nvm_default_packages_file_exists.stat.exists
  block:
    - name: Copy default packages file
      ansible.builtin.file:
        src: "{{ nvm_default_packages_file }}"
        dest: /home/{{ user }}/.nvm/default-packages
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0644
