---
- name: Clone dotfiles
  git:
    repo: "{{dotfile_repo}}"
    dest: "{{dotfile_dir}}"

- name: Check if dotfiles install script exists
  stat:
    path: "{{dotfile_dir}}{{dotfile_install}}"
  register: dotfile_install_script

- name: Install dotfiles
  shell: "{{dotfile_dir}}{{dotfile_install}}"
  args:
    chdir: "{{dotfile_dir}}"
  when: dotfile_install_script.stat.exists
  become: true