---

- name: Setup timezone
  ansible.builtin.file:
    path: /usr/share/zoneinfo/{{ timezone }}
    dest: /etc/localtime
    force: true
    state: link

- name: Update and upgrade packages
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: Install core packages Linux
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  environment:
    DEBIAN_FRONTEND: noninteractive
  with_items:
    - apt-transport-https
    - build-essential
    - ca-certificates
    - cargo
    - cmake
    - curl
    - exa
    - fzf
    - git
    - gnupg
    - gzip
    - iotop
    - jq
    - libcurl4-openssl-dev
    - make
    - ncdu
    - neofetch
    - net-tools
    - pkg-config
    - python3
    - rsync
    - shellcheck
    - software-properties-common
    - tar
    - tmux
    - unzip
    - vim
    - wget
    - zip
    - yamllint
    - sudo

- name: Install tzdata
  become: true
  ansible.builtin.apt:
    name: tzdata
    state: present
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Configure default user
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/bash
    groups: sudo
    append: true
  become: true

- name: Add default user directories
  ansible.builtin.file:
    path: "/home/{{ user }}/{{ item }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755
  with_items:
    - documents
    - projects
    - server
    - .ssh

- name: Configure default ed25519 SSH key pair
  community.crypto.openssh_keypair:
    path: "/home/{{ user }}/.ssh/id_ed25519"
    type: ed25519
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0600
    comment: "{{ git_user_email }}"

- name: Ensure github.com is a known host
  ansible.builtin.lineinfile:
    dest: /{{ user }}/.ssh/known_hosts
    create: true
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    regexp: "^github\\.com"
    mode: 0600

- name: Ensure Sudoers directory exits
  ansible.builtin.file:
    path: /etc/sudoers.d
    state: directory
    mode: 0755

- name: Add user to sudoers
  community.general.sudoers:
    name: "{{ user }}"
    nopassword: true
    state: present
    user: "{{ user }}"
    commands: ALL
  become: true
