---
- name: Update and upgrade packages
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: Install core packages Linux
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-transport-https
    - build-essential
    - ca-certificates
    - cmake
    - curl
    - git
    - gnupg
    - gzip
    - iotop
    - jq
    - libcurl4-openssl-dev
    - make
    - ncdu
    - neofetch
    - net-tools
    - pkg-config
    - python3
    - rsync
    - shellcheck
    - software-properties-common
    - tar
    - tmux
    - tzdata
    - unzip
    - vim
    - wget
    - zip
    - yamllint

- name: Update timezone
  timezone:
    name: "{{ timezone }}"

- name: Configure default user
  ansible.builtin.user:
    name: "{{ user }}"
    ansible.builtin.shell: /bin/bash
    groups: sudo
    append: true
  become: true

- name: Add default user directories
  ansible.builtin.file:
    path: "/home/{{ user }}/{{ item }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755
  with_items:
    - documents
    - projects
    - server

- name: Configure default ed25519 SSH key pair
  community.crypto.openssh_keypair:
    path: "/home/{{ user }}/.ssh/id_ed25519"
    type: ed25519
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0600
    comment: "{{ git_user_email }}"
