version: 2.1

orbs:
  shellcheck: circleci/shellcheck@3.1.1

executors:
  default:
    docker:
      - image: ubuntu:22.10
    resource_class: large

jobs:
  run-playbook:
    executor: default
    steps:
      - checkout
      - run:
          name: Install pip
          command: |
            sudo apt-get update
            sudo apt-get install -y python3-pip
      - run:
          name: Install ansible-lint
          command: pip install ansible-lint
      - run:
          name: Lint playbook
          command: ansible-lint ./linux-dev.yml
      - run:
          name: Import default vaulues
          command: echo $DEFAULT_VALS | base64 --decode > ./defaults/.main.json
      - run:
          name: Run Ansible
          command: |
            chmod +x install.sh && sudo ./install.sh
workflows:
  ansible:
    jobs:
      - run-playbook
      - shellcheck/check
