---
# Configuring git should be done after cloning dotfiles.
- name: Install git
  become: true
  ansible.builtin.apt:
    name: git
    state: present

- name: Configure git email
  community.general.git_config:
    name: user.email
    file: "{{ git_config_file }}"
    scope: global
    value: "{{ git_user_email }}"

- name: Configure git user
  community.general.git_config:
    name: user.name
    file: "{{ git_config_file }}"
    scope: global
    value: "{{ git_user_name }}"

- name: Add github.com as known_host
  ansible.builtin.lineinfile:
    dest: /{{ user }}/.ssh/known_hosts
    create: true
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -H github.com') }}"
    regexp: "^github\\.com"
    owner: "{{ user }}"
    mode: 0600
  become: true

- name: Add github.com as known_host
  ansible.builtin.lineinfile:
    dest: /root/.ssh/known_hosts
    create: true
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    regexp: "^github\\.com"
    mode: 0600
  become: true
