---
- name: Get local Go version
  changed_when: false
  ansible.builtin.shell: echo $(go version 2> /dev/null) | grep -Eo '[0-9]+\.[0-9]+\.[0-9]'
  register: go_version

- name: Install and update Go
  when: go_version.stdout != go_version.stdout
  block:
    # Remove old Go version
    - name: Remove previous version of go
      become: true
      ansible.builtin.file:
        path: /usr/local/go
        state: absent
    # Download and install new Go version
    - name: Download Go
      become: true
      ansible.builtin.get_url:
        url: https://go.dev/dl/go{{ go_version }}.linux-amd64.tar.gz
        dest: /tmp/go.linux-amd64.tar.gz
        mode: 0755
    - name: Extract Go
      become: true
      ansible.builtin.unarchive:
        src: /tmp/go.linux-amd64.tar.gz
        dest: /usr/local
        remote_src: true
