---
- name: Get latest Neovim tag
  ansible.builtin.shell: curl -Ls -o /dev/null -w %{url_effective} https://github.com/neovim/neovim/releases/latest | grep -Eo '[0-9]+\.[0-9]+\.[0-9]'
  changed_when: false
  register: nvim_latest_tag

- name: Install Neovim from deb
  ansible.builtin.apt:
    deb: https://github.com/neovim/neovim/releases/download/v{{ nvim_latest_tag.stdout }}/nvim-linux64.deb
  become: true
