---
- name: Get latest Neovim tag
  ansible.builtin.shell: curl -Ls -o /dev/null -w %{url_effective} https://github.com/neovim/neovim/releases/latest | grep -Eo '[0-9]+\.[0-9]+\.[0-9]'
  changed_when: false
  register: nvim_latest_tag

- name: Install Neovim from deb
  ansible.builtin.apt:
    deb: https://github.com/neovim/neovim/releases/download/v{{ nvim_latest_tag.stdout }}/nvim-linux64.deb
  become: true

- name: Is LunarVim installed?
  ansible.builtin.stat:
    path: ~/.local/share/lunarvim/lvim
  register: lvim_installed
  ignore_errors: true

- name: Install Lunarvim
  when: not lvim_installed.stat.exists
  block:

    - name: Clone LunarVim
      ansible.builtin.git:
        repo: https://github.com/LunarVim/LunarVim.git
        dest: /tmp/lvim
    
    - name: Install LunarVim
      ansible.builtin.shell: /tmp/lvim/utils/installer/install.sh -y
      become: true


    - name: Does user dotfiles contain Lvim Config?
      ansible.builtin.stat:
        path: "{{ dotfile_dir }}/{{ lvim_config_file_name }}"
      register: lvim_config_exists
      ignore_errors: true

    - name: Sym link Lvim Config
      ansible.builtin.file:
        src: "{{ dotfile_dir }}/{{ lvim_config_file_name }}"
        dest: ~/.config/lvim/config.lua
        state: link
        force: true
        mode: 0644
      when: lvim_config_exists.stat.exists
