---
# Configure zplug with dotfiles
- name: Clone zplug
  ansible.builtin.git:
    repo: https://github.com/zplug/zplug.git
    dest: "{{ zplug_dir }}"
  become: true

- name: Ensure permissions and ownership
  ansible.builtin.file:
    path: "{{ zplug_dir }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755
    recurse: true
  become: true

- name: Check for zplug config file
  ansible.builtin.stat:
    path: "{{ dotfile_dir }}/.zplugrc"
  register: zplug_config_file_exists

- name: Warn if zplug config file does not exist
  ansible.builtin.debug:
    msg: "zplug config file does not exist. Skipping zplug installation."
  when: not zplug_config_file_exists.stat.exists

- name: Source zplug and install plugins
  ansible.builtin.shell: source "$HOME/.zplug/init.zsh" && zplug load && zplug install || true
  args:
    chdir: /home/{{ user }}
    executable: /usr/bin/zsh
  become: true
  become_user: "{{ user }}"
  when: zplug_config_file_exists.stat.exists
  changed_when: false
  register: zplug_install

- name: Debug zplug install
  ansible.builtin.debug:
    msg: "{{ zplug_install.stdout_lines }}"
  changed_when: false
